@import "src/scss/themes.scss";
@import "src/scss/loader.scss";

body {
  padding: 0;
  margin: 0;
  color: var(--color-txt);
  background-color: var(--color-bg);

  a,
  button {
    color: var(--color-txt);
  }

  input[type="text"] {
  }

  h1 {
    color: var(--color-title);
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  height: 50px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 15px;
  color: var(--color-txt);
  background-color: var(--color-bg-input);
}

.button {
  color: var(--color-txt);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 0 10px;
  padding-top: 4px;
  font-size: 20px;
  font-weight: bold;

  &.secondary {
    color: var(--color-primary);
    background-color: var(--color-bg);
  }
}
input + .button {
  border-radius: 0 5px 5px 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    position: relative;
    margin-bottom: 2px;
    text-transform: uppercase;
    align-self: center;
    font-size: 38px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 4px;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--color-primary);
    }
    &::after {
      top: auto;
      bottom: 3px;
    }
  }
  span {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--color-title);
  }
}

#search {
  position: sticky;
  top: 0;
  padding: 10px 20px;
  margin-bottom: 30px;
  background: var(--color-bg);
  box-shadow: 0 0 10px var(--color-bg), 0 0 10px var(--color-bg);
  z-index: 1;

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .loader-wrapper {
      position: absolute;
      width: 100%;
      top: -13px;

      display: none;
    }

    fieldset {
      display: flex;
      justify-content: center;
    }
    input {
      flex: 1;
      width: 50%;
      height: 58px;
      border-right: 0;
      border-radius: 5px 0 0 5px;
      border: 1px solid var(--color-primary);
      outline: none;
    }

    button {
      height: 60px;
      border: 1px solid var(--color-primary);
      border-radius: 0 5px 5px 0;
      margin-left: -2px;
      margin-top: 0;

      path {
        fill: var(--color-bg);
      }
    }
  }
}

#results {
  h1 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    padding: 0 20px;

    .label {
      color: var(--color-primary);
    }

    .query-text {
      font-weight: normal;
      text-transform: lowercase;
      color: var(--color-txt2);
    }
  }

  .list {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    text-align: left;
    position: relative;

    li {
      display: flex;
      flex-direction: column;
      border-top: 1px solid var(--color-line);
    }

    .file-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 50px;
      border: 0;
      background: transparent;
      text-decoration: none;
      text-align: left;
      padding: 10px 0;

      .type {
        text-align: center;
        justify-content: center;
        display: flex;
        flex: 0 0 60px;
        height: 60px;
        align-self: stretch;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        margin-right: 10px;
        text-transform: uppercase;
        border-radius: 5px;
        color: var(--icon-default);
        background-color: var(--icon-default-light);

        &.ebook {
          color: var(--icon-ebook);
          background-color: var(--icon-ebook-light);
        }
        &.audiobook {
          color: var(--icon-audiobook);
          background-color: var(--icon-audiobook-light);
        }
        &.film {
          color: var(--icon-film);
          background-color: var(--icon-film-light);
        }
        &.music {
          color: var(--icon-music);
          background-color: var(--icon-music-light);
        }
        &.bd {
          color: var(--icon-bd);
          background-color: var(--icon-bd-light);
        }
      }
      .data {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
      }
      .title {
        display: flex;
        flex-grow: 1;
        align-self: stretch;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
      }
      .author {
        font-size: 14px;
        font-weight: normal;
      }
      .size {
        display: flex;
        background: var(--color-bg2);
        font-size: 11px;
        font-weight: bold;
        color: var(--color-txt2);
        padding: 3px 5px;
        border-radius: 3px;
        margin-top: 5px;
      }

      .dl-icon {
        width: 24px;
        height: 24px;
        margin-left: 8px;
        border-radius: 20px;
        background: var(--color-icon);
        padding: 3px;

        path {
          fill: var(--color-bg);
        }
      }
    }
  }
}

#download {
  transform: translate3d(0, 100vh, 0);
  position: fixed;
  background-color: var(--color-bg);
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 20px 40px;
  background: var(--color-bg2);
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  button.close {
    position: absolute;
    right: 20px;
    border: 0;
    color: transparent;
    width: 36px;
    height: 36px;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: var(--color-txt);
      top: 50%;
      left: 0;
      transform: rotate(45deg);
      transform-origin: center;
      border-radius: 2px;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  form {
    display: flex;
    justify-content: center;

    input {
      width: 240px;
      border-radius: 5px 0 0 5px;
      border-right: 0;
    }
  }

  .captcha {
    margin-top: 40px;

    .captchaImage {
      width: 200px;
      margin-bottom: 20px;
      margin-left: -30px;
    }
  }

  .get-file {
    padding-top: 30%;

    a {
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--color-bg);
      background: #666;
      padding: 10px 30px;
      border-radius: 5px;
      box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
    }
  }
}

.overlay {
  opacity: 0;
  background: var(--color-overlay);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &.is-active {
    opacity: 1;
    pointer-events: all;
  }
}
